@model IEnumerable<Tournament>

<h1>Tournaments</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Drivers</th>
            <th>First Place</th>
            <th>Second Place</th>
            <th>Third Place</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
            <tr>
                <td>@tournament.Title</td>
                <td>
                    @foreach (var driver in tournament.Drivers)
                    {
                        <span>@driver.Name</span>

                        <br />
                    }
                </td>
                <td>@(tournament.TourFirstPlace != null ? tournament.TourFirstPlace.Name : "N/A")</td>
                <td>@(tournament.TourSecondPlace != null ? tournament.TourSecondPlace.Name : "N/A")</td>
                <td>@(tournament.TourThirdPlace != null ? tournament.TourThirdPlace.Name : "N/A")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tournament.TournamentId" class="btn btn-primary">Edit</a>
                    <form asp-action="Delete" asp-route-id="@tournament.TournamentId" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form asp-action="RandomlyAssignDrivers" asp-route-id="@tournament.TournamentId" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-warning">Run Race</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Create New Tournament</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Home</a>
