@model IEnumerable<Tournament>
@{
    ViewData["Title"] = "All Tournaments";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Tournament</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tournament Id</th>
            <th>Title</th>
            <th>First Place</th>
            <th>Second Place</th>
            <th>Third Place</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TournamentId</td>
                <td>@item.Title</td>
                <td>@(item.TourFirstPlace?.Name ?? "N/A")</td>
                <td>@(item.TourSecondPlace?.Name ?? "N/A")</td>
                <td>@(item.TourThirdPlace?.Name ?? "N/A")</td>

            </tr>
        }
    </tbody>
</table>
